<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.title | uppercase | reverse }}</mat-card-title>
  </mat-card-header>
  <img [src]="product.image" mat-card-image [alt]="product.title">
  <mat-card-content>
    <h5>{{ product.price | currency | uppercase }}</h5>
    <p>{{ product.text | slice:0:15 | uppercase }}</p>
    <p>{{ today | date:'yyyy.MM.dd' }}</p>
    <p>{{ today | dateFormat:'PPPPpppp' }}</p>
    <p>{{ today | dateFormat:'yyyy' }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="addCart()">añadir al carrito</button>
    <button mat-raised-button (click)="viewDetail()">ver el detalle</button>
    <a mat-raised-button [routerLink]="['/products', product.id]">Ver detalle con routerLink</a>
  </mat-card-actions>
</mat-card>



